<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/mystyle.css">
    <title>MyMusic</title>
</head>

<body>
    <div class="bg"></div>
    <div class="content">
        <%if(locals.artist && locals.title && locals.lyrics){%>
            <div class="contain">
                <h1>
                    <%=title%>
                </h1>
                <h2>
                    <%=artist%>
                </h2>
            </div>
            <p>
                <%-lyrics%>
            </p>
            <%}else{%>
                <h1>Enter the details of the song<br> to get its lyrics.</h1>
                <div class="container">
                    <form id="myForm" method="post" action="/">
                        <label for="artistInput">Artist:</label>
                        <input type="text" id="artistInput" name="artist" required>

                        <label for="titleInput">Title:</label>
                        <input type="text" id="titleInput" name="title" required>

                        <input id="submit" type="submit" value="Submit">
                    </form>
                </div>
                <%}%>
    </div>

</body>

</html>